{% load static %}


<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'app/css/style.css' %}">
    <title>InourMindsForever</title>
  </head>
{% block content %}
  <body class="" >
      <header class="mb-80px">
        

         
         
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a href="">  <img class="navbar-brand" src="{% static 'app/img/logo.jpeg' %}" width="105px" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav justify-content-center mx-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="Index.html">Home</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Memorials
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="mem-search.html">Browse memorials</a>
                      <a class="dropdown-item" href="create-memorial.html">Create memorials</a>
                      
                    </div>
                  </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="how.html">How it works</a>
                    <a class="dropdown-item" href="about.html">FAQs</a>
                    <a class="dropdown-item" href="contact.html">Contact us</a>
                  </div>
                </li> -->
              </ul>
              <ul class="navbar-nav justify-content-end ">
                        <!-- <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Search Memorials by their last names" href="#"><i class="fa fa-search mr-2"></i></a> -->
                        <a class="nav-link btn  text-secondary" href="#"><i class="fa fa-volume-up"></i></a>   
                        <a class="nav-link btn  text-secondary" href="#"><i class=" fa fa-volume-down"></i></a>   
                        <a class="nav-link" href="login.html"><i class="fa fa-lock mr-2"></i>Sign in</a>
                        <a class="nav-link" href="create-memorial.html">Create memorials</a>
                        <a class="nav-link mr-3" href="contact.html">Contact us</a>
                        <a class="nav-link btn btn-primary text-light" href="#"><i class="fa fa-facebook mr-2"></i>Share</a>   
              </ul>
            </div>

          </nav>
      </header>
      
      
      
     
           

            <section class="container-fluid">
                <div class="row">
                  <div class="col-md-12  ">
                    <img src="{% static 'app/img/ex.png' %}" class=" img-responsive img-fluid" alt="Responsive image"  height=""> 
                    <div class="row">
                        <div class="col-lg-6 col-md col-sm-6">
                            <div class="carousel-caption">
                                <blockquote class="h2 may">
                                    “Life brings tears, smiles and memories. The tears dry, the smiles fade, but the memories last forever”
                                </blockquote>
                              </div>

                        </div>
                        <div class="col-lg-6 col-md col-sm-123">
                          
                            <div class="img-deceased  ">
                              <img src="{% static 'app/img/sam.png' %}"  class="  img-fluid mt-5 first-bio-img"  alt="Responsive image " >
                              <img src="{% static 'app/img/sam.png' %}"  class="  img-fluid mt-5 second-bio-img" id="" alt="Responsive image " >
                            
                            </div>
                        
      
                        </div>
                    </div>
                    
                  </div>
                  
                </div>
            </section>

            <section class="container text-center june"  style="color: #370909;">
                <h3 class="pt-4">Michael Jackson</h3>
                <p> 1912-2012</p>
            </section>
          
            <section class="container">
                
                  <div class="col-md-6 col-sm-12">
                    <div class="p-2 text-center submenu-link " style="background: #370909;">
                       <a href="bio.html" class="text-light text-decoration-none p-2 border-bottom border-light">Biography</a>
                          <a href="tribute.html" class="text-light  text-decoration-none p-2">Tribute</a>
                     <a href="gallery-photo.html" class="text-light  text-decoration-none p-2 ">Gallery</a>
                        
                        
                      </div>
                   
                </div>
            </section>

            <section class="container-fluid">
                <div class="row mr-0 ml-0" >
                    <div class=" col-md-8 col-sm-12 mt-5 mb-5 p-5"  style="background: #E2BEBE;">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur voluptate, rem soluta quaerat, non ullam optio, cumque voluptatum ducimus quo! Maiores vero sint amet, distinctio consequatur assumenda ipsum rem!</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur voluptate, rem soluta quaerat, non ullam optio, cumque voluptatum ducimus quo! Maiores vero sint amet, distinctio consequatur assumenda ipsum rem!</p>
                    
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur voluptate, rem soluta quaerat, non ullam optio, cumque voluptatum ducimus quo! Maiores vero sint amet, distinctio consequatur assumenda ipsum rem!</p>
                    
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur voluptate, rem soluta quaerat, non ullam optio, cumque voluptatum ducimus quo! Maiores vero sint amet, distinctio consequatur assumenda ipsum rem!</p>
                    
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur voluptate, rem soluta quaerat, non ullam optio, cumque voluptatum ducimus quo! Maiores vero sint amet, distinctio consequatur assumenda ipsum rem!</p>
                    
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur voluptate, rem soluta quaerat, non ullam optio, cumque voluptatum ducimus quo! Maiores vero sint amet, distinctio consequatur assumenda ipsum rem!</p>
                    
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequuntur voluptate, rem soluta quaerat, non ullam optio, cumque voluptatum ducimus quo! Maiores vero sint amet, distinctio consequatur assumenda ipsum rem!</p>

                        <button class="btn text-light btn-lg  btn-primary  float-right">share <i class="fa fa-facebook ml-2 "></i></button>
                        
                      </div>
                    
                    <div class=" col-md-4 col-sm-12 mt-5"  >
                        <div class="text-center mb-2" style="background: #E2BEBE;">
                            <p class="pl-4 pr-4 pt-4 pb-0">Invite family and friends to be part of this memorial</p>
                            <button class="btn text-light btn-lg mb-4"  style="background: #370909;">invite now</button>
                        
                        </div>
                        <div class="p-4 mb-5 text-center " style="background: #E2BEBE;">
                            <a href="" class="underline">Write a tribute</a>
                        </div>
                        <!-- <div class="style="background: #E2BEBE;""></div> -->
                    </div>
                </div>
            </section>
          
    
     
      
  
            <footer  class=" text-light" style="background: #393939">
           
              <div class="container">
                <div class="row text-center pt-5">
                  <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
      
                    <p class="">GETTING STARTED</p>               
                           <li class="list-unstyled"><a class="nav-link text-light" href="mem-search.html">Browse Memorials</a></li>
                       <li class="list-unstyled"><a class="nav-link text-light" href="create-memorial.html">Create a Memorial</a></li>
                        <li class="list-unstyled"><a class="nav-link text-light" href="index.html">How It works</a></li>
                        
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
      
                    <p>CONTACT US</p>
                    <p>support@inourmindsforever.com</p>
                    <p>+2348023016186</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
      
                    <p class="">LINKS</p>
                         
                    <li class=" list-unstyled"><a class="nav-link text-light" href="about.html">FAQs</a></li>
            
                  <li class="list-unstyled"><a class="nav-link text-light" href="terms.html">Terms & Conditions</a></li>
           
                    <li class="list-unstyled text-light"><a class="nav-link text-light" href="privacy.html">Privacy Policy</a></li>
             
                   
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12  ">
                  <div class="row ">
                    <div class="col-md col-sm-12">
                        <div class=" text-center submenu-linka d-flex justify-content-center" >
                           <a href="" class="text-light text-decoration-none pb-3 pr-3"><i class="fa fa-facebook mr-3"></i></a>
                            <a href="" class="text-light  text-decoration-none pb-3 pr-3"><i class="fa fa-twitter mr-3 "></i></a>
                            <a href="" class="text-light  text-decoration-none pb-3"><i class="fa fa-instagram"></i></a>
                            
                        </div>
                        <p class="">COPYRIGHT <span><script>document.write(new Date().getFullYear())</script></span> InOurMindsForever</p>
      
                      </div>
                  
                    </div>
                  </div>
      
                </div>
              </div>
            </footer>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/main.js' %}"></script>  
{% endblock %}
</body>
</html>
